@font-face {
  font-family: "ITC-Serif";
  src: url("./assets/fonts/ITC-Serif-Gothic-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --red: #cc131a;
  --orange: #f57916;
  --yellow: #e7e81e;
  --kindawhite: #e2e0bf;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: black;
  color: var(--kindawhite);
  font-family: "ITC-Serif", sans-serif;
  overflow-x: hidden;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logowrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 2.5rem;
  background: linear-gradient(90deg, rgb(27, 17, 50), rgb(46, 33, 76));

  padding: 0.5rem 0.6rem;
  border-bottom: 1px var(--kindawhite) solid;
}

.logowrapper h2 {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}

.buttons808 {
  width: 3.1rem;
  height: 1.6rem;
}

.logo {
  width: 3rem;
  height: 1.5rem;
  overflow: hidden;
}

.stepbutton {
  width: 32px;
  height: 50px;
}

.sequencer {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin: 4rem 0;
  gap: 1.5rem;
}

.instr-name {
  width: 100px;
}

.instr-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.outerseq {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}

.color-a {
  background-color: var(--red);
}
.color-b {
  background-color: var(--orange);
}
.color-c {
  background-color: var(--yellow);
}
.color-d {
  background-color: var(--kindawhite);
}
